.daily-weather-card-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 10px;
  background-color: #ebfffc;
  border: 1px solid #000;
  border-radius: 8px;
}

.daily-weather-cards-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.daily-weather-card > * {
  margin-right: 100px;
}

.daily-weather-card > :last-child {
  margin-right: 0;
}
